*{
    margin:0;
    padding:0;
    outline: solid 1px orange;
}

.container{
    background-color: #fcf7ec;
    margin: 0 auto;
    margin-top: 100px;
    height: 100%;
    color: white;
}

.azul{
    background-color: #34495e;
    height: 150px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1{
    text-align: center;
    margin-bottom: 20px;
}

h3{
    text-align: center;
    margin-bottom: 20px;
}

.blanco{
    background-color: black;
    height: 100%;
    width: 100%;
}

.colores{
    
}