*{
    margin:0;
    padding:0;
    /*outline: solid 1px orange;*/
}

.base{
    width: 50%;
    margin-top: 20px;
    margin-left: 20px;
}

.ariva{
    background-color: #010100;
    margin-bottom: 5px;
    height: 40px;
}

h1{
    color: #ffffff;
    margin-left: 15px;
    margin-top: 20px;
}
span{
    color: #00ffff;
}

.medio{
    background-color: #673299;
    color: #ffffff;
    text-align: center;
    margin-bottom: 10px;
    height: 34px;
}

.abajo{
    background-color: #9ec4f8;
    text-align: end;
    height: 25px;
}

.color{
    color: #231353;
}

h3{
    margin-right: 15px;
}